#uno{
    display: flex;
    align-items: center;
}


#fotoPerfil{
    width: 200px; 
    height: auto; 
}

.text h1, .text h3 {
    margin: 0;
}
.descripcionExperiencia p{
    margin: 0;
}